<div *ngIf="affichage">
    <form [formGroup]="inscriptionForm" (ngSubmit)="onInscription()">
        <label>Votre Nom:</label>
            <input type="text" formControlName="nom" placeholder="Nom">
        <label>Votre Prenom:</label>
            <input type="text" formControlName="prenom" placeholder="Prenom">
        <label>Votre Date de Naissance:</label>
            <input type="date" formControlName="dateNaissance" placeholder="dateNaissance">
        <label>Votre Adresse E-Mail:</label>
            <input type="email" formControlName="email" placeholder="E-Mail">
        <label>Votre Mot de Passe:</label>
            <input type="password" formControlName="motDePasse" placeholder="Mot de Passe">
        <input type="submit" name="valider" value="S'inscrire">
    </form>
</div>
<div *ngIf="affichage === false">
    <form [formGroup]="connexionForm" (ngSubmit)="onConnexion()">
        <label>Votre Adresse E-Mail:</label>
            <input type="email" formControlName="email" placeholder="E-Mail">
        <label>Votre Mot de Passe:</label>
            <input type="password" formControlName="motDePasse" placeholder="Mot de Passe">
        <input type="submit" name="valider" value="Se Connecter">
    </form>
</div>
<button (click)="onAffichage()">{{bouton}}</button>
<p>
   {{messageConnexion}}
</p>

<p>
    {{messageInscription}}
</p>
<a href="ato">historique</a>

